.heading-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cat-list-container {
  columns: 4;
  column-width: 180px;

  @media (min-width: 992px) {
    width: 976px;
  }
}

ul.cat-list {
  list-style: none;
  font-size: 18px;
  line-height: 30px;

  li a {
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }
}
